@import "_variables";

.home {
  &__wrapper {
    margin-top: 78vh;
  }

  &__works {
    position: relative;
    width: 90%;
    margin: 0 0 80px auto;
  }

  &__worksHeader {
    display: flex;
    justify-content: space-between;
  }

  .swiper-container {
    height: 300px;
  }

  .swiper-slide {
    position: relative;

    .wp-post-image {
      width: 100%;
      object-fit: cover;
    }
  }

  &__sliderButtons {
    position: absolute;
    bottom: -8%;
    left: 0;
    z-index: 100;
    display: flex;
  }

  &__sliderButton {
    &.-next {
      margin-left: 24px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__worksMeta {
    position: absolute;
    right: 0;
    bottom: -8%;
    padding: 24px 48px 24px 24px;
    background-color: $white;
  }

  &__serviceList {
    display: flex;
    width: 80%;
  }

  &__serviceItem {
    position: relative;

    &:not(:first-child) {
      margin-left: 32px;
    }
  }

  &__serviceItemHeading {
    position: absolute;
    top: 24px;
    left: 24px;
    margin: 0;
    color: $white;
  }

  &__serviceLink {
    position: absolute;
    right: -8px;
    bottom: -8px;
    padding: 8px 24px;
    background-color: $white;
    box-shadow: 1px 1px 16px #ccc;
  }

  &__serviceLinkSpan {
    display: flex;
    align-items: center;

    &::before {
      display: inline-block;
      width: 40px;
      height: 1px;
      margin-right: 12px;
      content: "";
      background-color: $black;
    }
  }

  &__news {
    .archive__list {
      width: 80%;
      margin: 0 0 0 auto;
    }
  }

  &__newsHeader {
    display: flex;
  }

  &__memberCatchcopyImage {
    height: 240px;
    filter: brightness(0.1);
    object-fit: cover;
  }

  &__memberCatchcopy {
    position: absolute;
    top: 48px;
    left: 24px;
    color: $white;
  }

  &__memberList {
    display: flex;
  }

  &__memberItem {
    position: relative;
    flex: 1;

    &.-catchcopy {
      flex: 3;
    }
  }

  &__memberImage {
    object-fit: cover;
  }

  &__memberText {
    position: absolute;
    bottom: 0;
  }

  &__map {
    height: 320px;
  }

  #map {
    height: 100%;
  }
}

@include mq(mobile) {
  .home {
  }
}
