@import "_variables";

.mainAnimation {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 2px;
  background-color: $white;

  &__logoFirst {
    position: relative;
    z-index: 10;
  }

  &__logoSecondWrapper {
    position: absolute;
    top: 50%;
    left: 40%;
    display: none;
    color: $black;
    opacity: 0;
    transform: translate(-50%, -50%);
  }

  &__logoSecond {
    display: block;
  }

  &__cover {
    position: absolute;
    width: 100vw;

    &.-first {
      top: 0;
      left: 0;
      z-index: 100;
      height: 70vh;
      background-color: $white;
      transform: translateY(-100px);
    }

    &.-second {
      bottom: -100vh;
      left: 0;
      z-index: 10;
      height: 100vh;
      background-color: $black;
    }
  }

  &__catchCopy {
    font-size: 16px;
  }
}

.contactButton {
  padding: 48px 0;
  background-color: $black;
}

.contactLink {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 24px;
  margin: 0 auto;
  font-size: 48px;
  font-weight: $--font-weight-bd;
  color: $white;
  border: 1px solid $white;
}

.form-block {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 24px 0;
  margin: 0 auto;
  border-bottom: 1px solid #ccc;

  &.-doubleRow {
    display: block;
  }

  &.-textarea {
    align-items: flex-start;

    .form-label,
    .form-required-label {
      margin-top: 12px;
    }
  }
}

.form-doubleRow {
  display: flex;
  align-items: center;
}

.form-label {
  width: 24%;
}

.form-required-label {
  display: flex;
  align-items: center;
  height: 32px;
  padding: 4px 12px;
  margin-right: 24px;
  font-size: 14px;
  color: $white;
  white-space: nowrap;
  background-color: $black;
}

.form-labelWrapper {
  display: flex;
  width: 24%;

  .form-label {
    width: 100%;
  }
}

.wpcf7-form-control {
  width: 100%;
  height: 100%;
  padding: 12px 0;
}

.wpcf7-form-control-wrap {
  flex-grow: 1;
}

.form-mailInput {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.your-email_confirm {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.form-mail-confirm {
  width: 69.5%;
}

.form-submitArea {
  display: flex;
}

@include mq(mobile) {
}
