@use "variables";

.l-footer {
  display: flex;
  justify-content: space-between;
  max-width: variables.$content-width-xl;
  padding: 80px 48px 16px;
  margin: 0 auto;

  &__address {
    margin: 48px 0 0 40px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__copyright {
    display: block;
    margin: 8px 0 0 40px;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__privacyLink {
    color: variables.$black;
  }

  &__privacyText {
    max-width: 132px;
  }
}
