@use "variables";

.l-footer {
  max-width: variables.$content-width-xl;
  padding: 80px 48px 16px;
  margin: 0 auto;

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 366px;
  }

  &__address {
    margin: 80px 0 0;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__copyright {
    display: block;
    margin: 12px 0 0;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
      "Hiragino Sans", Meiryo, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__privacyLink {
    display: flex;
    align-items: center;
    color: variables.$black;
  }

  &__privacyText {
    max-width: 132px;
  }
}
